__pycache__/
BingolPollen/
BingolPollen_Species/
CretanPollen/
experiments/
LLaVA/
llava-textfinetuned
pollen_pdfs/
pollen_pdfs_turkish/
Pollen23E/
Pollen73S/
wandb/
create_textual_data.py
instruction_data.jsonl
llama_inference.py
llama_stage2.py
llama_train.py
losses_contrastive.py
pretrainContrastive.py
results_pollen73s.txt
results_pollennumbered.txt
results.txt